# Run "dart ./scripts/generate_pubspec_dart_code.dart" when updating any of these values.
name: kraft_launcher
description: "An unofficial Minecraft Launcher"
publish_to: 'none'
repository: https://github.com/KraftLauncher/kraft-launcher
version: 0.1.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  archive: ^4.0.6
  crypto: ^3.0.6
  cached_network_image: ^3.4.1
  path: ^1.9.1
  path_provider: ^2.1.5
  dynamic_color: ^1.7.0
  url_launcher: ^6.3.1
  lottie: ^3.3.1
  go_router: ^15.0.0
  dio: ^5.8.0+1
  talker_dio_logger: ^4.7.2
  flutter_bloc: ^9.1.0
  image_picker: ^1.1.2
  mime: ^2.0.0
  http_parser: ^4.1.2
  bloc: ^9.0.0
  meta: ^1.16.0
  equatable: ^2.0.7
  uuid: ^4.5.1
  qr_flutter: ^4.1.0
  flex_color_picker: ^3.7.0
  logging: ^1.3.0
  collection: ^1.19.1
  clock: ^1.1.2
  pool: ^1.5.1
  process: ^5.0.3
  flutter_secure_storage: ^10.0.0-beta.4
  dbus: ^0.7.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  test: ^1.25.15
  mocktail: ^1.0.4
  fake_async: ^1.3.2
  flutter_gen: ^5.10.0
  build_runner: ^2.4.15
  yaml: ^3.1.3
  remove_from_coverage: ^2.0.0
  url_launcher_platform_interface: ^2.3.2
  plugin_platform_interface: ^2.1.8
  flutter_launcher_icons: ^0.14.3
  file: ^7.0.1

dependency_overrides:
  # Remove the override if this PR is merged: https://github.com/material-foundation/flutter-packages/pull/634
  dynamic_color:
    git:
      url: https://github.com/EchoEllet/flutter-packages.git
      ref: feat/swift-package-manager
      path: packages/dynamic_color
  # Remove when this issue is solved: https://github.com/juliansteenbakker/flutter_secure_storage/issues/920
  flutter_secure_storage_linux:
    git:
      url: https://github.com/m-berto/flutter_secure_storage.git
      ref: patch-2
      path: flutter_secure_storage_linux
  flutter_secure_storage_platform_interface: ^2.0.1

flutter:
  generate: true
  uses-material-design: true
  assets:
    - assets/lottie/errors/
    - assets/lottie/loading/
    - assets/lottie/no_data_found/
    # IMPORTANT: The asset assets/branding/icon.png is hardcoded in linux/runner/my_application.cc
    - assets/branding/

flutter_gen:
  output: lib/common/generated/

  integrations:
    image: true
    lottie: true

pubspec_extract:
  destination: lib/common/generated/pubspec.g.dart

flutter_launcher_icons:
  windows:
    generate: true
    image_path: assets/branding/icon.png
  macos:
    generate: true
    image_path: assets/branding/icon_framed.png
  # Linux window icon is manually handled using `gtk_window_set_icon_from_file`,
  # the launcher icon is handled using the packaging solutions (e.g., Flatpak).
